SECRET_KEY=django-insecure-student360-key-prod-super-secret-2026!
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_ENGINE=sqlite
DB_NAME=db.sqlite3
# For PostgreSQL migration:
# DATABASE_ENGINE=postgresql
# DB_NAME=student360_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432
